{% extends 'back-officeprogramme.html.twig' %}

{% block title %}Modifier Categorie{% endblock %}

{% block body %}
    <h1>Modifier Categorie</h1>
<div class="card col-lg-15 mx-auto">
    <div class="card-body px-50 py-50">
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <div class="form-group">
        {{ form_label(form.Titre) }}
        {{ form_errors(form.Titre)  }}
        {{ form_widget(form.Titre, {'attr':{'class':'form-control p_input'}}) }}
    </div>
        {{ form_end(form) }}
    </div>
</div>
    <a class="btn btn-success" href="{{ path('category_index') }}">Retourner a la liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
