{% extends 'back-officeprogramme.html.twig' %}

{% block title %}OptionGuide index{% endblock %}

{% block body %}
    <h1>Liste Des Guides</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
            </tr>
        </thead>
        <tbody>
        {% for option_guide in option_guides %}
            <tr>
                <td>{{ option_guide.id }}</td>
                <td>{{ option_guide.Nom }}</td>
                <td>{{ option_guide.Prenom }}</td>
                <td>{{ option_guide.Tel }}</td>
                <td>
                    <a class="btn btn-behance mt-2" href="{{ path('option_guide_show', {'id': option_guide.id}) }}">Afficher</a>

                    <a class="btn btn-behance mt-2" href="{{ path('option_guide_edit', {'id': option_guide.id}) }}"> Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('option_guide_new') }}">Nouveau</a>
{% endblock %}
