<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inscription</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset ('back-office/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('back-office/assets/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset ('back-office/assets/css/style.css')}}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset ('back-office/assets/images/win.png')}}" />
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        {% block title %}<h3 class="card-title text-left mb-3">Inscription</h3>{% endblock %}
                        {% block body %}
                            {{ form_start(form) }}

                                    <div class="form-group">
                                        {{ form_label(form.username,"Nom d\'utilisateur") }}
                                        {{ form_errors(form.username)  }}
                                        {{ form_widget(form.username , {'attr':{'class':'form-control p_input'}}) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.firstName,"Prenom") }}
                                        {{ form_errors(form.firstName)  }}
                                        {{ form_widget(form.firstName , {'attr':{'class':'form-control p_input'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.lastName,"Nom") }}
                                        {{ form_errors(form.lastName)  }}
                                        {{ form_widget(form.lastName , {'attr':{'class':'form-control p_input'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.tel,"Telephone") }}
                                        {{ form_errors(form.tel)  }}
                                        {{ form_widget(form.tel , {'attr':{'class':'form-control p_input'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email,"Email") }}
                                        {{ form_errors(form.email)  }}
                                        {{ form_widget(form.email , {'attr':{'class':'form-control p_input'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.password,"Mot de passe") }}
                                        {{ form_errors(form.password)  }}
                                        {{ form_widget(form.password , {'attr':{'class':'form-control p_input'}}) }}
                                    </div>


                                    <div class="text-center">
                                        {{ form_row(form.Inscription, {'attr':{'class':'btn btn-primary btn-block enter-btn'}}) }}

                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Vous avez déjà un compte?<a href="{{ path('app_login') }}">
                                                Connexion</a>
                                        </label>
                                    </div>



                            {{ form_end(form) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ asset ('back-office/assets/vendors/js/vendor.bundle.base.js')}}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ asset ('back-office/assets/js/off-canvas.js')}}"></script>
<script src="{{ asset ('back-office/assets/js/hoverable-collapse.js')}}"></script>
<script src="{{ asset ('back-office/assets/js/misc.js')}}"></script>
<script src="{{ asset ('back-office/assets/js/settings.js')}}"></script>
<script src="{{ asset ('back-office/assets/js/todolist.js')}}"></script>
<!-- endinject -->
</body>
</html>