{% extends 'back-officeprogramme.html.twig' %}

{% block title %}Liste des progrmmes{% endblock %}

{% block body %}
    {% if app.user %}

    <h1>Liste des programmes</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Region</th>
                <th>Adresse</th>
                <th>Category</th>

                <th>Guide</th>
                <th>Transport</th>
                <th>Image1</th>

            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.id }}</td>
                <td>{{ programme.Titre }}</td>
                <td>{{ programme.Description }}</td>
                <td>{{ programme.prix }}</td>
                <td>{{ programme.date ? programme.date|date('Y-m-d') : '' }}</td>
                <td>{{ programme.region }}</td>
                <td>{{ programme.adresse }}</td>
                <td>{{ programme.category }}</td>

                <td>{{ programme.Guide }}</td>
                <td>{{ programme.transport }}</td>

                <td>
                    {% for image in programme.getImages() %}
                        <img src="{{ asset('uploads/')~image.getNom() }}">
                    {% endfor %}
                </td>







                <td>
                    <a class="btn btn-behance mt-2" href="{{ path('programme_show', {'id': programme.id}) }}">Afficher</a>
                </td>
                <td>
                    <a class="btn btn-behance mt-2" href="{{ path('programme_edit', {'id': programme.id}) }}"> Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">La liste est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class= "btn btn-success" class="btn btn-success " href="{{ path('programme_new') }}">Nouveau</a>
    {% endif %}
{% endblock %}
